<h1>h1 Typography</h1>
<h2>h2 Typography</h2>
<h3>h3 Typography</h3>
<h4>h4 Typography</h4>
<h5>h5 Typography</h5>
<h6>h6 Typography</h6>

<p>p Paragraph</p>

<div>div text</div>

<p>dfhbsdj fsdjf dsj fds jkfk jdsfkdjs fkjds aafkj dskf jdsjkfskdjf dskfdskj fkjds afkj dskj fdskj fkjd sfj dskjf dskj fkjds fjk dsajk fjkadsfadsafdsafads  fd sfakjdsfjk adskf dskaj fkjd sfk jdsj fkdsja fkjsda fakjsd afjk dsjk fds kjfa jkds</p>


<h3>Quotes</h3>
<p class="text-base">
    He said, <q class="italic">“We need better docs.”</q>
</p>

<blockquote class="pl-4 border-l-4 border-gray-400 text-gray-500 italic">
    “This is a blockquote.”
</blockquote>

<figure class=" dark:bg-gray-200 text-black p-6 rounded-lg shadow">
    <blockquote class="text-lg italic">
      “Design is not just what it looks like and feels like. Design is how it works.”
    </blockquote>
    <figcaption class="text-right mt-4 text-sm text-gray-500">
      — Steve Jobs
    </figcaption>
</figure>